Número de iteraciones hasta la convergencia: 224
El tiempo en milisegundos utilizado por el algoritmo: 278390
Policy:
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ → ↓ ↓ ↓ ↓ → ↓ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓
↓ ■ ↓ ↓ → ↓ ■ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ → ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓
↓ ↓ → ↓ ↓ → ↓ ↓ ■ ↓ → ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓
↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ 👇 ↓ ↓ ← ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓
↓ ■ ↓ → ↓ ↓ ↓ → ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓
↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ■ ↓ ← ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ↓
↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ■ ↓ → ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ←
↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ← ↓ ■ ↓ ← ↓ ■
↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ → ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ → ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ← ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓
↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ← ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓
↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓
↓ ↓ ↓ ↓ ↓ → ↓ ↓ ■ ↓ ↓ → ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ← ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ← ↓ ← ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓
→ ↓ ↓ ↓ → ↓ → ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓
■ ↓ ↓ ↓ ■ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ← ↓ ■ ↓ ↓ ■ ↓ ← ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓
↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ■ ↓ ↓
↓ ↓ ■ ↓ ↓ ■ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ← ↓
↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ← ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ■ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓
↓ ↓ → ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓
→ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ← ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓
■ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ → ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓
↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ← ← ←
↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ← ← ← ← ■ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↑ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↑ ↑ ← ← ← ← ← ← ← ← ←
↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ■ ↓ ↑ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↑ ↑ ↑
→ → → → → → ↓ ■ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ← ← ← ← ← ← ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ■ ↓ ↓
↓ ↓ ↓ ↓ ↓ ■ → → → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↑ ↓ ↓ ↓ ↓
→ → → → → → ↓ ↓ ■ → → → → → → 🟢 ← ← ■ ↓ ↓ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ← ← ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ■ → → → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↑ ↓ ■ ↓ ↑ ↓ ← ↓ ↓ ← ↓ ← ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ←
→ → → → → → ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ■ ↓ ■ ↓ ← ← ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↑ ↑
↑ ↑ ↑ ↑ ■ ↑ ■ ↑ → ↑ ■ ↑ ■ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ■ ↓
↑ ↑ ↑ ↑ → ↑ → ↑ ↑ ↑ → ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ■ ↓ ■ ↓ ↓ ↓
↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ←
↑ → ↑ → ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑
↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑
↑ ↑ ↑ ↑ ↑ ↑ → ↑ → ↑ ■ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ → ↑ ■ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑
↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ → ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ← ↑ ↑ ← ↑ ← ↑ ↑ ■ ↑ ← ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑
↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■
↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ←
↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ■ ↑
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ← ↑ ■ ↑ ← ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ← ←
↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ■ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ■ ↑ ↑ ← ← ← ←
■ ↑ → ↑ ■ ↑ ↑ → ↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ← ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ←
→ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ← ← ← ← ← ←
■ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ←
→ ↑ → ↑ → ↑ ↑ ■ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ← ← ← ← ← ← ■ ↑ ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ← ← ← ← ← ← ← ■ ↑ ← ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ← ■ ↑ ← ← ← ← ← ← ← ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ■ ↑ ← ← ← ■ ↑ ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ■ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ←
↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ■ ↑ ← ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ← ← ← ← ← ← ← ■ ↑ ← ← ← ■ ↑ ← ←
↑ → ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ■ ↑ ← ← ■ ↑ ← ← ← ■ ↑ ← ← ← ■
↑ ↑ ↑ ↑ ■ ↑ ↑ → ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ←
↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ■ ↑ ■ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ← ← ■ ↑ ← ← ← ← ■ ↑ ← ■ ↑ ← ← ← ← ← ← ← ↑ ← ■
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ■ ↑ ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ← ↑ ← ← ← ← ↑ ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ↑ ← ← ← ← ↑ ← ←
↑ ↑ ↑ ■ ↑ ■ ↑ → ↑ ↑ ↑ ↑ → ↑ ■ ↑ ← ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ■ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ← ↑ ← ■ ↑ ← ← ← ← ← ← ← ■ ↑ ■ ↑ ← ← ← ← ← ↑ ← ■ ↑ ← ↑ ← ←
↑ ↑ ↑ → ↑ → ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ← ↑ ← ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ■ ↑ ■ ↑ ← ↑ ← ← ← ← ↑ ← ←
↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ← ← ← ■ ↑ ← ← ↑ ← ■ ↑ ← ■ ↑ ← ← ← ← ← ← ← ↑ ← ■ ↑ ← ■ ↑ ←
