Número de iteraciones hasta la convergencia: 160
El tiempo en milisegundos utilizado por el algoritmo: 61774
Policy:
↓ → ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ← ↓ ↓ ↓
↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓
↓ ↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ■ ↓ → ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ←
↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ■
↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ → ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓
↓ ↓ ↓ ↓ → ↓ ■ ↓ → ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓
↓ ↓ → ↓ ■ ↓ ↓ ↓ ■ ↓ → ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓
↓ ↓ → ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ■ ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ → ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓
↓ → ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ■ ↓ ■ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ → ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ← ↓
↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ■ ↓ ↓ ■ ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ↓
↓ ↓ ↓ ↓ ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ → ↓ → ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓
↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ → ↓ ↓ → ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓
→ ↓ ↓ → ↓ → ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓
■ ↓ ↓ ■ ↓ ■ ↓ → ↓ ↓ ↓ ↓ → ↓ → ↓ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓
↓ ↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ←
↓ ↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■
↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓
↓ ↓ → ↓ ↓ → ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ← ↓ ↓ ← ↓ ■ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓
↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ←
↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ■
↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ← ↓ ← ↓
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ← ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ■ ↓
↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ → ↓ ↓ ↓ → ↓ 👇 ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ → ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓
↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ← ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ↓ ↓ ← ↓ ↓ ■ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ← ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓
→ → → ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ → ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
↓ ↓ ■ → → → → ↓ ↓ ↓ ↓ ↓ ↓ ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ←
→ → → ↓ ↓ ↓ ■ → → → → → → → → → 🟢 ← ← ← ← ← ← ← ← ← ← ■ ↓ ↓ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑
↓ ↓ ■ → → → → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ← ← ← ■ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑
→ → → ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ■ ↓ ↑ ↑ ↑ ■ ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑
↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ■ ↓ ↑ ← ↑ ← ↑ ← ↑ ■ ↑ ↑ ↑ ■ ↑ ↑
↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ → ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ← ■ ↓ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ → ↑ ↑ ↑ → ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ← ↑ ■ ↑ ↑ ■ ↑ ↑ ← ← ■ ↓ ↓ ↓ ↑ ↑ ↑ ↑ ↑ ← ← ←
■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ← ← ← ← ■ ↓ ← ← ← ← ← ←
→ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ■ ↑ ← ■ ↑
↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ → ↑ ↑ ↑ ■ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ← ← ← ← ←
↑ ↑ ■ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ■ ↑ ← ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ← ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ← ← ← ← ← ← ←
↑ ↑ → ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ↑ ■ ↑ ← ← ■ ↑ ← ← ← ←
↑ ■ ↑ ↑ ↑ → ↑ ↑ → ↑ ■ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ←
↑ → ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ← ■ ↑ ■ ↑ ← ← ← ← ■
↑ ↑ ↑ ↑ ↑ ↑ → ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ← ■ ↑ ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ■ ↑ ← ← ← ← ← ← ← ← ← ■ ↑ ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ← ← ← ■ ↑ ← ← ← ■ ↑ ← ← ← ← ← ■
↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ← ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ← ■ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ←
↑ ↑ ↑ ↑ ↑ → ↑ ↑ → ↑ ↑ ↑ ■ ↑ ■ ↑ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ■ ↑ ← ← ← ← ■ ↑ ← ← ← ←
↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ← ↑ ↑ ← ↑ ← ↑ ■ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ← ← ■ ↑ ← ←
↑ ↑ ↑ → ↑ ■ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ■ ↑ ↑ ■ ↑ ← ← ■ ↑ ■ ↑ ← ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ■ ↑
↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ → ↑ ↑ ← ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ■ ↑ ← ← ← ← ■ ↑ ← ←
↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ← ↑ ↑ ■ ↑ ■ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ■ ↑ ■ ↑ ← ← ← ← ■ ↑ ← ← ← ← ← ■ ↑ ■ ↑ ← ← ← ←
↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ← ↑ ← ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ← ←
↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ↑ ↑ ■ ↑ ■ ↑ ← ↑ ↑ ↑ ← ↑ ↑ ↑ ↑ ↑ ■ ↑ ↑ ↑ ■ ↑ ↑ ■ ↑ ← ← ← ← ■ ↑ ← ■ ↑ ← ■ ↑ ← ← ← ← ← ← ■ ↑ ← ← ← ← ■ ↑
↑ ■ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ → ↑ ← ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ← ↑ ↑ ↑ ← ↑ ← ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ← ← ← ← ■ ↑ ← ← ← ← ← ← ← ← ←
